extends ../layouts/default

block content
	.container: .jumbotron
		//- img(src='/images/logo.svg', width='160')
		h1 Welcome to Holofield VR
		hr
		h2 Keep checking back for the latest in VR news, reviews and hilarity.
		
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
		